<div class="contents-summary contents-pc contents">
<div class="summary-title">
    <h2 class="text-center font-weight-bold mt-5 h4">女性向け中古品まとめ</h2>
</div>
<div class="summary-box row">
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/2">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 22.png">
                <h3 class="summary-text text-white font-weight-bold">トップス</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/3">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 23.png">
                <h3 class="summary-text text-white font-weight-bold">アウター</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/36">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 35.png">
                <h3 class="summary-text text-white font-weight-bold">パンツ</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/48">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 24.png">
                <h3 class="summary-text text-white font-weight-bold">スカート</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/53">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 36.png">
                <h3 class="summary-text text-white font-weight-bold">ワンピース</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/57">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 34.png">
                <h3 class="summary-text text-white font-weight-bold">靴</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/74">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 33.png">
                <h3 class="summary-text text-white font-weight-bold">帽子</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/81">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 25.png">
                <h3 class="summary-text text-white font-weight-bold">バッグ</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/142">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 32.png">
                <h3 class="summary-text text-white font-weight-bold">浴衣</h3>
            </div>
        </a>
    </div>
</div>
</div>

<div class="contents-summary contents-pc contents">
<div class="summary-title">
    <h2 class="text-center font-weight-bold mt-5 h4">男性向け中古品まとめ</h2>
</div>
<div class="summary-box row">
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/177">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 29.png">
                <h3 class="summary-text text-white font-weight-bold">トップス</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/188">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 30.png">
                <h3 class="summary-text text-white font-weight-bold">アウター</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/211">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 31.png">
                <h3 class="summary-text text-white font-weight-bold">パンツ</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/220">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 37.png">
                <h3 class="summary-text text-white font-weight-bold">靴</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/228">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 28.png">
                <h3 class="summary-text text-white font-weight-bold">バッグ</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/245">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 38.png">
                <h3 class="summary-text text-white font-weight-bold">帽子</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/288">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 39.png">
                <h3 class="summary-text text-white font-weight-bold">時計</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/252">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 40.png">
                <h3 class="summary-text text-white font-weight-bold">アクセサリー</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/categories/259">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 41.png">
                <h3 class="summary-text text-white font-weight-bold">小物</h3>
            </div>
        </a>
    </div>
</div>
</div>

<div class="contents-summary contents-pc contents">
<div class="summary-title">
    <h2 class="text-center font-weight-bold mt-5 h4">ブランド中古品まとめ</h2>
</div>
<div class="summary-box row">
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/14">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 42.png">
                <h3 class="summary-text text-white font-weight-bold">ルイヴィトン</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/52">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 43.png">
                <h3 class="summary-text text-white font-weight-bold">グッチ</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/40">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 44.png">
                <h3 class="summary-text text-white font-weight-bold">シャネル</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/37">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 45.png">
                <h3 class="summary-text text-white font-weight-bold">エルメス</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/21">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 46.png">
                <h3 class="summary-text text-white font-weight-bold">ティファニー</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/9073">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 47.png">
                <h3 class="summary-text text-white font-weight-bold">ドルチェ&ガッバーナ</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/9085">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 48.png">
                <h3 class="summary-text text-white font-weight-bold">supreme</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/46">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 49.png">
                <h3 class="summary-text text-white font-weight-bold">ロレックス</h3>
            </div>
        </a>
    </div>
    <div class="summary-inner-box col-4">
        <a href="http://localhost:3000/brands/50">
            <div class="summary-inner">
                <img class="summary-img img-fluid" src="/assets/Group 50.png">
                <h3 class="summary-text text-white font-weight-bold">ポールスミス</h3>
            </div>
        </a>
    </div>
</div>
</div>