<header>
    <div class="head-top">
        <h1 class="text-center"><a href="http://localhost:3000" class="text-reset text-decoration-none">Collection</a></h1>
        <p class="text-center">お気に入りの中古品をカンタン検索<img src="assets/surprised.png" class="head-top-img" alt=""></p>
    </div>
</header>

<nav class="breadcrumb-list contents" aria-label="パンくずリスト">
    <ol class="breadcrumb mb-1 py-1 bg-white">
        <li class="breadcrumb-item"><a href="http://localhost:3000" class="font-size-sm">ホーム</a></li>
        <li class="breadcrumb-item"><a href="#" class="font-size-sm">女性向け</a></li>
        <li class="breadcrumb-item active font-size-sm" aria-current="page">トップスの中古品一覧</li>
    </ol>
</nav>

<div class="title-img title-img-mobile">
    <div class="title-contents contents">
        <h1 class="title-h1 h2 text-white pt-4 pb-2 mb-0">【人気】女性向けトップスの中古品一覧</h1>
    </div>
    <div class="header-contents contents shadow-sm form-group bg-white border mx-auto mt-3">
            <div class="row m-2">
                <div class="input-group col-12 p-0 my-1">
                    <select name="" id="" class="form-control form-color rounded-0 pl-4">
                        <option hidden>ジャンルを選択</option>
                        <option value="1">トップス</option>
                        <option value="2">ボトムス</option>
                    </select>
                </div>
                <div class="input-group col-6 pr-1 p-0 my-1">
                    <select name="" id="" class="form-control form-color rounded-0 pl-4">
                        <option hidden>ブランドを選択</option>
                        <option value="1">アディダス</option>
                        <option value="2">ナイキ</option>
                    </select>
                </div>
                <div class="input-group col-6 pl-1 p-0 my-1">
                    <input type="text" class="form-control rounded-0" placeholder="価格を選択">
                </div>
                <div class="input-group input-text col-6 border-right pr-1 p-0 mt-1">
                    <p class="m-auto">並び替える</p>
                </div>
                <div class="input-group input-text col-6 pl-1 p-0 mt-1">
                    <p class="m-auto">絞り込む</p>
                </div>
            </div>
        </div>

</div>


<main>
    <div class="search-contents search-contents-mobile contents mt-5">
        <div class="">
            <div class="search-items p-0">
                <nav class="search-nav navbar navbar-expand-sm navbar-dark bg-white m-0 py-0">
                    <div class="navbar-collapse justify-content-start">
                        <div class="navi-item">
                            <p class="search-p m-0 mb-1"><span class="font-weight-bold">全10,000件</span>のうち<span class="font-weight-bold">1-100</span>を表示</p>
                        </div>
                    </div>
                </nav>
                <div class="row">
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text m-0">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-card col-sm-3 col-4 d-none d-sm-block">
                        <div class="card rounded-0 shadow-sm">
                            <img src="assets/luggage-2136151_1920.jpg" class="card-img-top rounded-0" alt="">
                            <div class="card-body">
                                <h5 class="card-title">アーバンリサーチドアーズ</h5>
                                <p class="card-text">何者の後に勇気が次第でもの主義を事実もっておきから。</p>
                                <a href="#" class="card-info stretched-link text-decoration-none text-reset font-weight-bold">¥ 1,980</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">女性向け中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/search">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <button class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</button>
        </div>
    </div>

    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">男性向け中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <button class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</button>
        </div>
    </div>

    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">ブランドの中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <button class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</button>
        </div>
    </div>
</main>

<footer>
<div class="footer-contents mt-5">
    <div class="inner contents">
        <div class="inner-footer-box row pt-4">
            <div class="footer-box col-6">
                <p class="footer-title font-weight-bold">Collectonについて</p>
                <p><a href="#" class="text-reset text-decoration-none">運営情報</a></p>
                <p><a href="#" class="text-reset text-decoration-none">ロゴの使用について</a></p>
                <p><a href="#" class="text-reset text-decoration-none">各種規約</a></p>
                <p><a href="#" class="text-reset text-decoration-none">プライバシーポリシー</a></p>
                <p><a href="#" class="text-reset text-decoration-none">特定商取引法に基づく表示</a></p>
                <p><a href="#" class="text-reset text-decoration-none">お問い合わせ</a></p>
            </div>
            <div class="footer-box col-6">
                <p class="footer-title font-weight-bold">コンテンツ一覧</p>
                <p><a href="#" class="text-reset text-decoration-none">カテゴリ一覧</a></p>
                <p><a href="#" class="text-reset text-decoration-none">ブランド一覧</a></p>
                <p><a href="#" class="text-reset text-decoration-none">サイトマップ</a></p>
            </div>
            <div class="footer-box col-6 mt-3">
                <p class="footer-title font-weight-bold">人気カテゴリ</p>
                <p><a href="#" class="text-reset text-decoration-none">Louis Vuitton（ルイ・ヴィトン）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">CHANEL（シャネル）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Hermès（エルメス）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">GUCCI（グッチ）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">BURBERRY（バーバリー）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Saint Laurent（サンローラン）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">DIOR （ディオール）</a></p>
            </div>
            <div class="footer-box col-6 mt-3">
                <p class="footer-title font-weight-bold">人気カテゴリ</p>
                <p><a href="#" class="text-reset text-decoration-none">Louis Vuitton（ルイ・ヴィトン）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">CHANEL（シャネル）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Hermès（エルメス）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">GUCCI（グッチ）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">BURBERRY（バーバリー）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Saint Laurent（サンローラン）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">DIOR （ディオール）</a></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="contents">
        <p class="footer-lasttext text-center text-white font-weight-bold py-1 m-0">2020 Copyright Collecton.All Right Reserved.</p>
        </div>
    </div> 
</div>
</footer>