<%= render 'partials/header' %>

<main>
    <nav class="breadcrumb-list contents-pc contents" aria-label="パンくずリスト">
        <ol class="breadcrumb mb-1 py-1 bg-white">
            <li class="breadcrumb-item"><a href="http://localhost:3000">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">検索結果</li>
        </ol>
    </nav>

    <div class="title-img">
        <div class="title-contents contents-pc contents">
            <h1 class="title-h1 h2 text-white py-5">中古品の検索結果一覧</h1>
        </div>
    </div>
    <%= render 'search/faceted_navigation' %>
    <%= render 'search/global_navigation' %>
</main>