<header>
    <div class="head-top contents-pc">
        <h1 class="text-center"><a href="http://localhost:3000" class="text-reset text-decoration-none">Collecton</a></h1>
        <p class="text-center">お気に入りの中古品をカンタン検索<img src="/assets/surprised.png" class="head-top-img" alt=""></p>
    </div>
</header>