<header>
    <div class="header-mobile">
        <div class="header-top pt-5">
            <h1 class="text-center text-white"><a href="http://localhost:3000" class="text-reset text-decoration-none">Collection</a></h1>
            <p class="text-center text-white">お気に入りの中古品をカンタン検索<img src="assets/surprised.png" class="head-top-img" alt=""></p>
        </div>
        <div class="header-contents contents shadow-sm form-group bg-white border mx-auto mt-5">
            <div class="row m-2">
                <div class="input-group col-12 p-0 my-1">
                    <select name="" id="" class="form-control form-color rounded-0 pl-4">
                        <option hidden>ジャンルを選択</option>
                        <option value="1">トップス</option>
                        <option value="2">ボトムス</option>
                    </select>
                </div>
                <div class="input-group col-6 pr-1 p-0 my-1">
                    <select name="" id="" class="form-control form-color rounded-0 pl-4">
                        <option hidden>ブランドを選択</option>
                        <option value="1">アディダス</option>
                        <option value="2">ナイキ</option>
                    </select>
                </div>
                <div class="input-group col-6 pl-1 p-0 my-1">
                    <input type="text" class="form-control rounded-0" placeholder="価格を選択">
                </div>
                <div class="input-group col-12 p-0 my-1">
                    <button class="btn btn-color form-control text-white rounded-0">検索</button>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">女性向け中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/search">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <button class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</button>
        </div>
    </div>

    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">男性向け中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <button class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</button>
        </div>
    </div>

    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">ブランドの中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0 d-none d-sm-block">
                <a href="#">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/luggage-2136151_1920.jpg">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <button class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</button>
        </div>
    </div>
</main>


<footer>
<div class="footer-contents mt-5">
    <div class="inner contents">
        <div class="inner-footer-box row pt-4">
            <div class="footer-box col-6">
                <p class="footer-title font-weight-bold">Collectonについて</p>
                <p><a href="#" class="text-reset text-decoration-none">運営情報</a></p>
                <p><a href="#" class="text-reset text-decoration-none">ロゴの使用について</a></p>
                <p><a href="#" class="text-reset text-decoration-none">各種規約</a></p>
                <p><a href="#" class="text-reset text-decoration-none">プライバシーポリシー</a></p>
                <p><a href="#" class="text-reset text-decoration-none">特定商取引法に基づく表示</a></p>
                <p><a href="#" class="text-reset text-decoration-none">お問い合わせ</a></p>
            </div>
            <div class="footer-box col-6">
                <p class="footer-title font-weight-bold">コンテンツ一覧</p>
                <p><a href="#" class="text-reset text-decoration-none">カテゴリ一覧</a></p>
                <p><a href="#" class="text-reset text-decoration-none">ブランド一覧</a></p>
                <p><a href="#" class="text-reset text-decoration-none">サイトマップ</a></p>
            </div>
            <div class="footer-box col-6 mt-3">
                <p class="footer-title font-weight-bold">人気カテゴリ</p>
                <p><a href="#" class="text-reset text-decoration-none">Louis Vuitton（ルイ・ヴィトン）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">CHANEL（シャネル）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Hermès（エルメス）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">GUCCI（グッチ）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">BURBERRY（バーバリー）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Saint Laurent（サンローラン）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">DIOR （ディオール）</a></p>
            </div>
            <div class="footer-box col-6 mt-3">
                <p class="footer-title font-weight-bold">人気カテゴリ</p>
                <p><a href="#" class="text-reset text-decoration-none">Louis Vuitton（ルイ・ヴィトン）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">CHANEL（シャネル）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Hermès（エルメス）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">GUCCI（グッチ）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">BURBERRY（バーバリー）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Saint Laurent（サンローラン）</a></p>
                <p><a href="#" class="text-reset text-decoration-none">DIOR （ディオール）</a></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="contents">
        <p class="footer-lasttext text-center text-white font-weight-bold py-1 m-0">2020 Copyright Collecton.All Right Reserved.</p>
        </div>
    </div> 
</div>
</footer>
