<header>
    <div class="header-mobile">
        <div class="header-top pt-5">
            <h1 class="text-center text-white"><a href="http://localhost:3000" class="text-reset text-decoration-none">Collecton</a></h1>
            <p class="text-center text-white">お気に入りの中古品をカンタン検索<img src="assets/Group 53.png" class="head-top-img" alt=""></p>
        </div>

        <!-- 検索するコード -->
        <%= form_with model: @post, url: search_path ,method: :get, data: {remote: false} do |f| %>
            <div class="header-contents contents shadow-sm form-group bg-white border mx-auto mt-5">
                <div class="row m-2">
                    <div class="input-group col-12 p-0 my-1">
                        <!-- キーワード検索するコード -->
                        <%= f.text_field :keyword , value: params[:keyword] , class: "form-control rounded-0" , placeholder: "キーワードで絞る" %>
                    </div>
                    <div class="input-group col-6 pr-1 p-0 my-1">
                        <!-- ブランド検索するコード -->
                        <%= f.text_field :brand , value: params[:brand] , class: "form-control rounded-0" , placeholder: "ブランドで絞る" %>
                    </div>
                    <div class="input-group col-6 pl-1 p-0 my-1">
                        <!-- 価格検索するコード -->
                        <%= f.text_field :price_min , value: params[:price_min] , class: "form-control rounded-0" , placeholder: "最低価格で絞る"%>
                    </div>
                    <div class="input-group col-12 p-0 my-1">
                        <button class="btn btn-color form-control text-white rounded-0">検索</button>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</header>

<main>
    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">女性向け中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/2">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 4.png">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/15">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 8.png">
                        <div class="item-name text-white font-weight-bold">アウター</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/48">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 7.png">
                        <div class="item-name text-white font-weight-bold">スカート</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/81">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 6.png">
                        <div class="item-name text-white font-weight-bold">バッグ</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/57">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 54.png">
                        <div class="item-name text-white font-weight-bold">靴</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/142">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 56.png">
                        <div class="item-name text-white font-weight-bold">浴衣</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <a href="http://localhost:3000/categories/1" class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</a>
        </div>
    </div>

    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">男性向け中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/177">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 9.png">
                        <div class="item-name text-white font-weight-bold">トップス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/188">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 10.png">
                        <div class="item-name text-white font-weight-bold">アウター</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/211">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 13.png">
                        <div class="item-name text-white font-weight-bold">パンツ</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/228">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 11.png">
                        <div class="item-name text-white font-weight-bold">バッグ</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/272">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 12.png">
                        <div class="item-name text-white font-weight-bold">財布</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/categories/288">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="/assets/Group 55.png">
                        <div class="item-name text-white font-weight-bold">時計</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <a href="http://localhost:3000/categories/176" class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</a>
        </div>
    </div>

    <div class="items-contents contents-mobile">
        <div class="row">
            <h2 class="items-h2 font-weight-bold mt-5 mb-3 mx-auto">ブランドの中古品を探す</h2>
        </div>
        <div class="items-imgs row mb-2 item-imgs">
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/brands/14">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="assets/Group 14.png">
                        <div class="item-name text-white font-weight-bold">ルイヴィトン</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/brands/52">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="assets/Group 15.png">
                        <div class="item-name text-white font-weight-bold">グッチ</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/brands/40">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="assets/Group 16.png">
                        <div class="item-name text-white font-weight-bold">シャネル</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/brands/37">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="assets/Group 17.png">
                        <div class="item-name text-white font-weight-bold">エルメス</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/brands/21">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="assets/Group 18.png">
                        <div class="item-name text-white font-weight-bold">ティファニー</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-6 p-0">
                <a href="http://localhost:3000/brands/9085">
                    <div class="items-col-mobile">
                        <img  class="img-fluid item-img" src="assets/Group 20.png">
                        <div class="item-name text-white font-weight-bold">supreme</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-75 mx-auto mt-4">
            <a href="http://localhost:3000/brands" class="btn btn-color form-control rounded-pill h3 text-white">もっと見る</a>
        </div>
    </div>
</main>