/* 商品の画像サイズの比率は、52:47であるため、商品画像を表示する際はその比率に合わせて掛け算で算出する*/
.main_menu .main_nav .mega_menu {
    display: none;
}

// itemsのtop
.itemdetail{
    margin-bottom: 50px;
    .itemdetail-img-box{
        width: 100%;
        height: 100px;
        .itemdetail-img-side{
            object-fit: cover;
            width: 100%;
            height: 100%;
            box-shadow: 0px 3px 10px rgb(226, 226, 226);
            margin-bottom:23px;
            border: solid 1px rgb(214, 214, 214);
            cursor: pointer;
        }
    }
    .itemdetail-img-center{
        height: 650px;
        .itemdetail-img{
            display: none;
            object-fit: cover;
            width: 100%;
            height: 100%;
            box-shadow: 0px 2px 8px rgb(226, 226, 226);
            border: solid 1px rgb(214, 214, 214);
        }
        .itemdetail-img-top{
            display: block;
        }
    }
    .itemdetail-box{
        background-color:rgb(255, 253, 232);
        .itemdetail-top{
            .itemdetail-brand{
                margin: 20px 0 10px;
            }
            .itemdetail-title{
                display: flex;
                align-items: center;
                min-height: 84px;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .itemdetail-middle{
            min-height: 300px;
            .itemdetail-left{
                margin: auto 0;
                height: 250px;
                display:flex;
                flex-flow: column;
                justify-content:space-between;
            }
            .itemdetail-right{
                margin: auto 0;
                height: 250px;
                display:flex;
                flex-flow: column;
                justify-content:space-between;
            }
            p{
                margin: 0;
            }
            .itemdetail-logo{
                height: 24px;
                width: 60px;
                img{
                    height: 56px;
                    width: 120px;
                    position: relative;
                    top: -18px;
                }
            }
        }
        .itemdetail-bottom{
            .itemdetail-price-text{
                background-color: #ffd900;
                width: 120px;
                height: 40px;
                font-size: 20px;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                border-radius: 20px;
            }
            .itemdetail-price{
                font-weight: bold;
                font-size: 40px;
                margin-top: 20px;
            }
            .itemdetail-good{
                width: 100px;
                height: 40px;
                padding-left: 10px;
                border-radius: .25rem;
                font-size: 20px;
                display: table-cell;
                vertical-align: middle;
                background-color:rgb(255, 172, 197);
                &:before{
                    font-size: 15px;
                    color:rgb(255, 172, 197);
                    content: '◆';
                    position: absolute;
                    top: 28px;
                }
            }
            .itemdetail-button{
                font-size: 25px;
                margin-top: 25px;
                background-color:rgb(255, 172, 197);
            }
        }
    }
}

// items微調整
.items-contents{
    h2{
        font-size: 24px;
    }
    .more-button{
        border-radius: 20px;
        box-shadow: 0px 3px 10px rgb(209, 209, 209);
        background-color:rgb(255, 217, 0);
        display: table;
        height:40px;
        width:200px;
        color: rgb(63, 63, 63);
        font-weight: bold;
        margin: 16px auto 50px;
        text-align:center;
    }
}